@media(max-width:762px) {
    .link {
        display: none
    }

    .brand {
        margin-left: 18%;
        font-size: 1.5rem 
    }
    
    .link-text {

      display: none;
    }
}

.sideBar {
  display: none;
}

.main {
  margin-left: 10%;
  margin-right: 10%;
}

@media(max-width:762px) {
    .sideBar {
        display: block
    }

    .main {
      margin-left: 5%;
      margin-right: 5%,
    }

    .subscribe-button {
      margin-top: 5%
    }
}

.link {
    box-shadow: none;
    text-decoration: none;
    color: white;
    padding: 1%;
}

.link:hover, .active-class {
    background-color: white;
    color: black!important;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 30px;
  left: 2%;
  top: 2%;
}

@media(min-width: 762px) {
    .bm-burger-button {
        display: none
    }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.subscribe-email {
  display: block;
  margin-bottom: 5%
}

.subscribe-button {
  padding-right: 5%;
  padding-left: 5%;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.subscribe-button:hover {
  background-color: black;
  color: white;
}