.link {
    box-shadow: none;
    text-decoration: none;
    color: white;
    padding: 1%;
}

.link:hover, .active-class {
    background-color: white;
    color: black!important;
}

.layout-css {
    margin-left: 10%;
    margin-right: 10%;
}

@media(max-width: 762px) {
    .layout-css {
        margin-left: 10%;
        margin-right: 10%;
    }
}